.founder-image{
    width:55%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.founder-info{
    line-height: 2.7rem;
}
@media only screen and (max-width:1200px) {
   .founder-image{
    width:60%;
   }
}
@media only screen and (max-width:992px) {
    .founder-image{
        width:50%;
    }
   .founder-info{
    line-height: 2rem;
   } 
}